<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Rooms</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="NRG Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <link rel="shortcut icon" href="../images/NRGLogo.png" />



    <!-- NRG CSS---->
    <link rel="stylesheet" type="text/css" href="../styles/new-home.css">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/slick.css">
    <link rel="stylesheet" type="text/css" href="../styles/owl-carousel.css">
    <link rel="stylesheet" type="text/css" href="../styles/theme-carousel.css">
    <link rel="stylesheet" type="text/css" href="../styles/transition-carousel.css">
    <link rel="stylesheet" type="text/css" href="../styles/appViews.css">


    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script src="../js/homepageJs/modernizr.js"></script>

    <script type="text/javascript" src="//use.typekit.net/khi6tzf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body background="../images/loginBack.jpg" class="new-home">
<!---replace <div id="header" with this <header> and everything inside-->
<header>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="/site/es.html">
                            <img src="../images/logo.png" alt="Logo" /> </a>
                    </div><div class="right-wrapper">
                        <div class="top-menu">
                            <ul>
                                <li class="submenu-switch"><a style="color:white;" href='/x/logout'>Log Out</a>
                                </li>
                                <li class="submenu-switch"><a style="color:white;" href="login.html">Register</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end of header--->

<% if (req.session.rooms.length > 0) { %>

<section class="slider">
    <div class="container">
        <div class="addRooms">
            <h2>Add Room</h2>
            <form action="/x/roomadd" method="post">
                <div class="field">
                    <input type="text" id="fieldUser" name="name" class="input" required pattern=.*\S.* />
                    <input type="hidden" name="id" value="<%=id%>" >
                    <label for="fieldUser" class="label">Room Name</label>
                </div>
                <div class="btn btn-primary">
                    <input type="submit" name="Submit" style="background: transparent;">
                </div>
            </form>
        </div>
        <div class="my-slider">
            <div class="prev-nav"></div>
            <div class="next-nav"></div>
            <div class="main-slider ">
                <% _.each(req.session.rooms, function (corndog) { %>

                <div class="slide-item" >
                    <img src=""  alt="Slider Saul" style="background: transparent"/>

                    <div class="item-caption">
                        <h2><%= corndog.name%></h2>
                        <p style="font-size: 30px;">Owner: <%= corndog.owner %></p>
                        <p style="font-size: 30px;">House:<%= corndog.house %></p>

                        <a href="/x/roomdelete?name=<%= corndog.name %>&id=<%=id%>">Destroy</a>|
                        <a href="/x/devicereturnAll?name=<%= corndog.name %>&id=<%=id%>&room=<%=corndog.name%>">View devices</a>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</section>

<% } else { %>

<section>

    <div class="container">
        <h2>Add Room</h2>
        <div class="addRooms">
            <h2>Add Room</h2>
            <form action="/x/roomadd" method="post">
                <div class="field">
                    <input type="text" id="fieldUser" name="name" class="input" required pattern=.*\S.* />
                    <input type="hidden" name="id" value="<%=id%>" >
                    <label for="fieldUser" class="label">Room Name</label>
                </div>
                <div class="btn btn-primary">
                    <input type="submit" name="Submit" style="background: transparent;">
                </div>
            </form>
        </div>
    </div>
</section>
<% } %>




<!---replace <div id="footer" with this <footer> and everything inside, dont forget to change replace new-home.css-->
<footer>
    <div class="container">
        <div class="row " style="width:100%; padding-left:200px">
            <div class="col-md-8 col-sm-12 footer-left">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-col">
                            <div class="list-title" data-toggleable>
                                <h4>Lorem ipsum dolor sit amet</h4> </div>
                            <div class="list-content">
                                <ul class="footer-list">
                                    <li>
                                        <a href="/site/es/mundo-saul/campanas.html">Campañas</a>
                                    </li><li>
                                        <a href="/site/es/mundo-saul/eventos-saul.html">Eventos</a>
                                    </li><li>
                                        <a href="/site/es/mundo-saul/galardones.html">Prensa y galardones</a>
                                    </li><li>
                                        <a href="/site/es/mundo-saul/marcas-exclusivas.html">Marcas Exclusivas</a>
                                    </li><li>
                                        <a href="/site/es/mundo-saul/ubicaciones.html">Ubicaciones</a>
                                    </li></ul>
                            </div>
                        </div>
                    </div><div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-col">
                            <div class="list-title" data-toggleable>
                                <h4>Lorem ipsum dolor sit amet</h4> </div>
                            <div class="list-content">
                                <ul class="footer-list">
                                    <li>
                                        <a href="/site/es/quienes-somos.html">Historia</a>
                                    </li><li>
                                        <a href="/site/es/quienes-somos/Valores.html">Valores</a>
                                    </li><li>
                                        <a href="/site/es/quienes-somos/proyectos-sociales.html">Proyectos Sociales</a>
                                    </li><li>
                                        <a href="/site/es/quienes-somos/manifiesto.html">Manifiesto</a>
                                    </li><li>
                                        <a href="/site/es/quienes-somos/faq.html">Preguntas frecuentes</a>
                                    </li></ul>
                            </div>
                        </div>
                    </div><div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="footer-col">
                            <div class="list-title" data-toggleable>
                                <h4>Lorem ipsum dolor sit amet</h4> </div>
                            <div class="list-content">
                                <ul class="footer-list">
                                    <li>
                                        <a href="/site/es/contacto/contacto-empleos-y-modelos.html">Empleo, Pasantías, Casting de modelos</a>
                                    </li><li>
                                        <a href="/site/es/contacto.html">Contáctanos</a>
                                    </li></ul>
                            </div>
                        </div>
                    </div></div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="copyright">
                    <ul>
                        <li>© 2016 NRG | All rights reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--end of footer-->

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--<script src="scripts/jquery.js" type="javascript"></script>-->
<!--<script src="scripts/owl.carousel.min.js"></script>-->
<!--<script src="scripts/jquery.dotdotdot.min.js"></script>-->
<!--<script src="scripts/jquery.validate.js"></script>-->

<script src="../js/homepageJs/jquery.bookblock.js"></script>
<script src="../js/homepageJs/main.js"></script>
<script src="../js/homepageJs/jquery-2.0.0.min.js"></script>
<script src="../js/homepageJs/jquery-migrate-1.1.1.min.js"></script>

<!--<script src="scripts/affix.js"></script>-->
<!--<script src="scripts/alert.js"></script>-->
<!--<script src="scripts/dropdown.js"></script>-->
<script src="../js/homepageJs/tooltip.js"></script>
<!--<script src="scripts/modal.js"></script>-->
<script src="../js/homepageJs/transition.js"></script>
<script src="../js/homepageJs/button.js"></script>
<script src="../js/homepageJs/popover.js"></script>
<<script src="../js/homepageJs/carousel.js"></script>
<script src="../js/homepageJs/scrollspy.js"></script>

<!-- Added for changes specified in Saul Home Page -->
<script src="../js/homepageJs/slick.min.js"></script>
<script src="../js/homepageJs/new-home.js"></script>

<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/977013232/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!--===================GOOGLE REMARKETING CODE END===========================--><script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('ntv0z', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>



</body>
</html>